html, body {
	height: 100%;
	font-family: 'SimHei',"Helvetica Neue",Helvetica,Arial,sans-serif;
}

.main-bg {
	color: #fff;
	background-color: #333;
}

.main-contain {
	position: relative;
	height: 100%;
	text-align: center;
}

.wel-head {
	position: relative;
	padding: 20px;
}

.wel-title {
	margin-top: 10px;
	font-weight: bold;
	letter-spacing: 0.2em;
}

.wel-title > a {
	color: #31708f;
	text-decoration: none;
}

.wel-nav {
	margin-top: 10px;
	padding-left: 0;
	margin-bottom: 0;
	list-style: none;
}

.wel-nav > li > a {
	font-size: 16px;
	font-weight: bold;
	color: #fff;
}

.wel-contain {
	position: absolute;
	padding: 0 20px;
	left: 50%;
	top: 44%;
	width: 100%;

	-moz-transform: translate(-50%, -50%);
	-webkit-transform: translate(-50%, -50%);
	-o-transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
}

@media(min-width: 768px) {
	.wel-contain {
		width: 700px;
	}
}

.introduce {
	margin-bottom: 20px;
	font-size: 16px;
	text-indent: 2em;
	line-height: 1.7;
}

@media(min-width: 768px) {
	.introduce {
		font-size: 20px;
	}
}

.wel-footer {
	position: absolute;
	left: 50%;
	bottom: 0;
	width: 100%;
	padding: 20px;

	font-size: 14px;
	color: #999;

	-moz-transform: translateX(-50%);
	-webkit-transform: translateX(-50%);
	-o-transform: translateX(-50%);
	-ms-transform: translateX(-50%);
	transform: translateX(-50%);
}

@media(min-width: 768px) {
	.wel-footer {
		width: 700px;
	}
}

.wel-footer > p > a {
	color: #fff;
}

.login-contain {
	position: absolute;
	top: 50%;
	left: 50%;
	width: 100%;

	-moz-transform: translate(-50%, -50%);
	-webkit-transform: translate(-50%, -50%);
	-o-transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
}

@media(min-width: 768px) {
	.login-contain {
		width: 700px;
	}
}

.login-form {
	position: relative;
	font-size: 14px;
}

@media(min-width: 768px) {
	.login-form {
		font-size: 17px;
	}
}

.login-box {
	width: 98%;
	margin-left: 1%;
	margin-bottom: 25px;
}

.login-label {
	display: inline-block;
	width: 20%;
	text-align: left;
}

@media(min-width: 768px) {
	.login-box {
		width: 90%;
		margin-left: 5%;
	}

	.login-label {
		text-align: right;
	}
}

.login-input {
	display: inline-block;
	padding: 6px 12px;
	height: 34px;
	width: 75%;

	background-color: #fff;
	color: #555;
	border: 1px solid #ccc;
	border-radius: 4px;

	line-height: 1.42857143;

	-webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
	box-shadow: inset 0 1px 1px rgba(0,0,0,.075);

	-webkit-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
	-o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
	transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
}

.checkbox,
.errorBox {
    display: inline-block;
    width: 75%;
    padding-left: 2px;
    text-align: left;
}

.errorBox > span {
	color: #f12812;
}

.login-nav {
	position: relative;
	display: inline-block;
	padding-left: 0;
	margin-bottom: 30px;
	list-style: none;

	text-align: center;
}

.login-nav > li {
	float: left;
	margin-right: 1em;
}

.login-nav > li > a {
	display: inline-block;
	width: 3em;
	line-height: 35px;

	font-size: 21px;
	color: #C6C8CA;
	text-decoration: none;
}

.login-nav > li > a:hover {
	color: #33A4B7;
}

.login-nav > li > .nav-active {
	color: #337ab7;
	border-bottom: 2px solid #0f88eb;
}

.login-btn {
	padding: 6px 12px;
}

@media(min-width: 768px) {
	.login-btn {
		padding: 10px 16px;
	}
}