html, body {
	height: 100%;
	font-family: 'SimHei',"Helvetica Neue",Helvetica,Arial,sans-serif;
}

.main-bg {
	color: #fff;
	background-color: #f9f9f9;
}

.main-head {
	background-color: #333;
	padding: 10px 10px 0;
}

.main-title {
	margin-top: 10px;
	font-weight: bold;
	letter-spacing: 0.2em;
}

.main-title > a {
	color: #31708f;
	text-decoration: none;
}

.module-title {
	margin-bottom: 6px;
}

.info-nav {
	position: absolute;
	top: 10px;
	right: 2%;

	font-size: 15px;
}

@media(min-width: 768px) {
	.info-nav {
		top: 20px;
		right: 6%;

		font-size: 16px;
	}
}

.to-cursor {
	cursor: pointer;
}

.to-cursor:hover {
	color: #ccc;
}

.to-right {
	left: auto;
	min-width: auto;
	right: 0;
	text-align: center;
}

.main-contain {
	position: relative;
	text-align: center;
}

