html, body {
	height: 100%;
	font-family: 'SimHei',"Helvetica Neue",Helvetica,Arial,sans-serif;
}

/**
 * [因为有bootstrap,所以要确保ng-clock生效]
 */
[ng\:cloak], [ng-cloak], .ng-cloak {
  display: none !important;
}

/**
 * [select.html主页面]
 */
.main-bg {
	color: #fff;
	background-color: #fff;
}

.main-contain {
	position: relative;
	text-align: center;
}

.main-head {
	background-color: #333;
	padding: 10px 10px 0;
}

.main-title {
	margin-top: 10px;
	font-weight: bold;
	letter-spacing: 0.2em;
}

.main-title > a {
	color: #31708f;
	text-decoration: none;
}

.module-title {
	margin-bottom: 6px;
}

.info-nav {
	position: absolute;
	top: 10px;
	right: 2%;

	font-size: 15px;
}

@media(min-width: 768px) {
	.info-nav {
		top: 20px;
		right: 6%;

		font-size: 16px;
	}
}

.to-cursor {
	cursor: pointer;
}

.to-cursor:hover {
	color: #ccc;
}

.to-right {
	left: auto;
	min-width: auto;
	right: 0;
	text-align: center;
}

.sel-contain {
	color: #000;
}

/**
 * [books页面]
 */

.section-contain {
	position: relative;
}

.book-name {
	margin: 25px auto 0;
}

.book-name > a {
	display: inline-block;
	padding: 5px;

	font-size: 17px;
	font-weight: bold;
	cursor: pointer;
	text-decoration: none;
}

@media(min-width: 768px) {
	.book-name {
		width: 60%;
		margin-top: 40px;
	}

	.book-name > a {
		font-size: 19px;
		padding: 10px;
	}
}

.book-name > a:hover {
	color: #555;
}

.book-progress {
	margin: 0 auto;
}

.progress-to-center {
	position: absolute;
	left: 50%;

	-moz-transform: translateX(-50%);
	-webkit-transform: translateX(-50%);
	-o-transform: translateX(-50%);
	-ms-transform: translateX(-50%);
	transform: translateX(-50%);
}

@media(min-width: 768px) {
	.book-progress {
		width: 60%;
		height: 30px;
	}

	.progress-to-center {
		line-height: 30px;
		font-size: 15px;
	}
}

/**
 * [units页面]
 */
.back-nav {
	position: absolute;
	top: -20px;
	left: auto;
	right: 2%;
}

.back-nav > a {
	font-size: 17px;
	text-decoration: none;
}

@media(min-width: 768px) {
	.back-nav {
		position: absolute;
		top: -30px;
		right: auto;
		left: 20%;
	}

	.back-nav > a {
		font-size: 22px;
	}
}

/**
 * [word-list页面]
 */
.word-btn-group {
	padding: 5px;
	border-bottom: 2px solid #2e6da4;
}

.word-btn-group > a {
	display: inline-block;
	width: 40%;

	font-size: 16px;
}

@media(min-width: 768px) {
	.word-btn-group {
		padding: 10px;
		width: 60%;
		margin: 0 auto;
	}

	.word-btn-group > a {
		width: 30%;
		font-size: 18px;
	}
}

.word-list {
	margin: 0 auto;
	padding-left: 0;
	list-style: none;
	text-align: center;
}

.word-list > li {
	position: relative;
	margin: 0px 5%;
	padding: 10px 5px;
	border-bottom: solid 1px #ccc;
	font-size: 17px;
	font-weight: bold;
	color: #ccc;
}

@media(min-width: 768px) {
	.word-list {
		width: 60%;
	}

	.word-list > li {
		padding: 15px 5px;
		font-size: 19px;
	}
}

.word-list > li.word-on {
	color: #000;
}

.word-choose-state {
	display: inline-block;
	width: 60px;
	height: 30px;

	position: absolute;
	top: 7px;
	right: 10px;

	border: 1px solid #777;
	border-radius: 30px;
	cursor: pointer;
}

@media(min-width: 768px) {
	.word-choose-state {
		top: 13px;
		right: 15px;
	}
}

.word-choose-state > em {
	display: inline-block;
	width: 22px;
	height: 22px;

	position: absolute;
	left: 4px;
	top: 3px;

	background-color: #ccc;
	border-radius: 50%;

	-moz-transition: all 0.5s;
	-webkit-transition: all 0.5s;
	transition: all 0.5s;
}

li.word-on > .word-choose-state > em{
	left: 32px;
	background-color: #4CDE1C;
}