/**
 * [books页面]
 */

.section-contain {
	position: relative;
}

@media(min-width: 768px) {
	.section-contain {
		width: 60%;
		margin: 0 auto;
	}
}

.book-name {
	position: relative;
}

.book-name > a {
	display: inline-block;
	padding: 5px;

	font-size: 17px;
	font-weight: bold;

	cursor: pointer;
	text-decoration: none;
}

@media(min-width: 768px) {
	.book-name > a {
		font-size: 19px;
		padding: 10px;
	}
}

.book-name > a:hover {
	color: #555;
}

.book-progress {
	position: relative;
	margin-bottom: 25px;
}

.section-contain > div:last-child > .book-progress {
	margin-bottom: 0;
}

.progress-to-center {
	position: absolute;
	left: 50%;

	-moz-transform: translateX(-50%);
	-webkit-transform: translateX(-50%);
	-o-transform: translateX(-50%);
	-ms-transform: translateX(-50%);
	transform: translateX(-50%);
}

@media(min-width: 768px) {
	.book-progress {
		height: 30px;
		margin-bottom: 40px;
	}

	.progress-to-center {
		line-height: 30px;
		font-size: 16px;
	}
}

/**
 * [units页面]
 */


/**
 * [word-list页面]
 */
.word-btn-group {
	padding: 5px;
	border-bottom: 2px solid #2e6da4;
}

.word-btn-group > a {
	display: inline-block;
	width: 40%;

	font-size: 16px;
}

@media(min-width: 768px) {
	.word-btn-group {
		padding: 10px;
	}

	.word-btn-group > a {
		font-size: 18px;
	}
}

.word-list {
	padding-left: 0;
	list-style: none;
	text-align: center;
}

.word-list > li {
	position: relative;
	margin: 0px 5%;
	padding: 10px 5px;
	border-bottom: 1px solid #ccc;
	font-size: 17px;
	font-weight: bold;
	color: #ccc;
}

@media(min-width: 768px) {
	.word-list > li {
		padding: 15px 5px;
		font-size: 19px;
	}
}

.word-list > li.word-on {
	color: #000;
}

.word-choose-state {
	display: inline-block;
	width: 60px;
	height: 30px;

	position: absolute;
	top: 7px;
	right: 10px;

	border: 1px solid #777;
	border-radius: 30px;
	cursor: pointer;
}

@media(min-width: 768px) {
	.word-choose-state {
		top: 13px;
		right: 15px;
	}
}

.word-choose-state > em {
	display: inline-block;
	width: 22px;
	height: 22px;

	position: absolute;
	left: 4px;
	top: 3px;

	background-color: #ccc;
	border-radius: 50%;

	-moz-transition: all 0.5s;
	-webkit-transition: all 0.5s;
	transition: all 0.5s;
}

li.word-on > .word-choose-state > em{
	left: 32px;
	background-color: #4CDE1C;
}

.alert-clear-bottom {
	margin-bottom: 0;
}