/**
 * do-type页面
 */

.type-contain {
	position: relative;
}

.do-type-back {
	font-size: 30px;
	margin-top: 10px;
}

.do-type-back > a {
	font-size: 21px;
}

@media(min-width: 768px) {
	.type-contain {
		width: 50%;
		margin: 0 auto;
	}

	.do-type-back {
		margin-top: 20px;
	}
}

.type {
	color: #666;
}

/**
 * [type1页面]
 */
.t1 {
	margin-top: 10%;
}

@media(min-width: 768px) {
	.t1 {
		margin-top: 3%;
	}
}

.highlight-word {
	color: #63D0FF;
	font-size: 27px;
}

.t1-audio {
	font-size: 30px;
	cursor: pointer;
}

.t1-nav {
	position: fixed;
	right: 2%;
	top: 50%;

	-moz-transform: translateY(-50%);
	-webkit-transform: translateY(-50%);
	-o-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	transform: translateY(-50%);
}

.t1-to-next {
	font-size: 30px;
	cursor: pointer;
}

@media(min-width: 768px) {
	.t1-nav {
		right: 25%;
	}

	.t1-to-next {
		font-size: 36px;
	}
}

.t1-img-box {
	margin-bottom: 20px;
}

.t1-img-box > img {
	width: 70%;
	height: 220px;
}

.alert-fix-bottom {
	position: fixed;
	width: 100%;
	bottom: 10%;
}

@media(min-width: 768px) {
	.t1-img-box > img {
		width: 70%;
		height: 280px;
	}

	.alert-fix-bottom {
		width: 50%;
	}
}

/**
 * [type2页面, type3页面]
 */
.t2 {
	margin-top: -20px;
}

.pic-box, .mean-box {
	width: 100%;
}

@media(min-width: 768px) {
	.t2 {
		margin-top: -30px;
	}

	.pic-box, .mean-box {
		width: 90%;
		margin: 0 auto;
	}
}

.pic-box > ul, .mean-box > ul {
	margin-bottom: 0;
	padding-left: 0;
	/*取消行内元素间隙*/
	font-size: 0;
	list-style: none;
}

.pic-item {
	position: relative;
	display: inline-block;
	width: 48%;
	height: 150px;
	margin-top: 10px;
	padding: 6px 5px;

	background-color: #ccc;
	border: 2px solid transparent;
	border-radius: 8px;

	cursor: pointer;
}

.pic-item:nth-child(2n-1) {
	margin-right: 1%;
}

.pic-item:hover {
	border-color: #31708f;
}

.mean-item {
	width: 60%;
	margin: 0 auto;
	padding: 10px 0;

	/*必须，因为ul里font-size为0*/
	font-size: 16px;
	border: 1px solid #F2EEE1;
	cursor: pointer;
}

.mean-item:hover {
	font-size: large;
    color: #000;
    
    border-color: #ccc;
}

@media(min-width: 768px) {
	.pic-item {
		height: 160px;
	}
}

.pic-item > img {
	width: 100%;
	height: 100%;
}

.error {
	background-color: #f3c4b5;
}

.right {
	background-color: #dcecb4;
}