<section class="login-contain">
    <nav>
        <ul class="login-nav">
            <li><a href="#/login" class="nav-active">登录</a></li>
            <li><a href="#/register">注册</a></li>
        </ul>
    </nav>
    <form class="login-form" action="login" method="post">
        <div class="login-box">
            <label class="login-label" for="email">Email：</label>
            <input class="login-input" id="email" name="email" type="email" placeholder="请输入您的邮箱" required>
        </div>
        <div class="login-box">
            <label class="login-label" for="password">Password：</label>
            <input class="login-input" id="password" name="password" type="password" placeholder="请输入您的密码" required ng-minlength="6">
        </div>
        <div class="login-box">
            <div class="checkbox">
                <label>
                    <input type="checkbox"> Remember me
                </label>
            </div>
        </div>
        <div class="login-box">
            <button type="submit" class="btn btn-lg btn-primary login-btn">登 录(Sign in)</button>
        </div>
    </form>
</section>
