<div class="type t3">
	<h2>{{curWord.word}}</h2>
	<div>
		<a aria-label="播放音频" ng-click="playAudio()" class="t1-audio"><span class="glyphicon glyphicon-headphones" aria-hidden="true"></span></a>
		<audio autoplay ng-src="{{curWord.wordAudio}}"></audio>
	</div>
	<div class="mean-box">
		<ul id="meanList">
			<li class="mean-item">{{curWord.meanOption1}}</li>
			<li class="mean-item">{{curWord.meanOption2}}</li>
			<li class="mean-item">{{curWord.meanOption3}}</li>
			<li class="mean-item">{{curWord.meanOption4}}</li>
		</ul>
	</div>
</div>