<div class="type">
	<h2>{{curWord.word}}</h2>
	<div>
		<a aria-label="播放音频" ng-click="playAudio()" class="t1-audio"><span class="glyphicon glyphicon-headphones" aria-hidden="true"></span></a>
		<audio autoplay ng-src="{{curWord.wordAudio}}"></audio>
	</div>
	<div class="pic-box">
		<ul id="picList">
			<li class="pic-item">
				<img ng-src="{{curWord.picOption1}}">
			</li>
			<li class="pic-item">
				<img ng-src="{{curWord.picOption2}}">
			</li>
			<li class="pic-item">
				<img ng-src="{{curWord.picOption3}}">
			</li>
			<li class="pic-item">
				<img ng-src="{{curWord.picOption4}}">
			</li>
		</ul>
	</div>
	<h2 id="t1Sentence"></h2>
	<nav class="t1-nav">
		<a aria-label="下一题" ng-click="toNextType()" class="t1-to-next"><span class="glyphicon glyphicon-menu-right" aria-hidden="true"></span></a>
	</nav>
</div>